/* TODO: Only apply to landing page. */
#contentContainer {
	justify-content: center;
}
#contentHome {
	justify-content: unset;
	align-content: unset;
	align-items: unset;
	display: block;
}
#contentHome .copy-code {
	display: none;
}
#contentHomeTitle {
	display: none;
}
.logo {
	font-size: 4em;
	display: flex;
	gap: 0 0.5ch;
	align-items: center;
	justify-content: center;
	margin: 0.5ch;
	flex-wrap: wrap;
	word-break: normal;
}
.logo > img {
	height: 1.618em;
	margin: unset;
}

.is-pretty-link {
	padding-right: unset !important;
}
.is-pretty-link:after {
	display: none;
}
.sc-alert-info {
	background-color: #bbe5ff;
}
.sc-snippet-wrapper .sc-snippet-label {
	word-break: normal;
}

.flexzone {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 0 3.25rem;
}
.flexzone > * {
	flex: 1 0 auto;
}
.column-list > :is(ul,ol) {
	 columns: auto 30ch;
}
.typedef {
	padding: 0;
}
.api-list table td:first-child {
	word-break: normal;
}
